.home {
height: 100%;
width: 100%

}

.homeTitle{
   text-align: center;
   color: rgba(9, 9, 9, 0.637);
}

.buttons{
   z-index: 1;
  padding-top: 1vh;
   margin-left: 45vw;
}


.secImage{
   position: absolute;
   width: 200px;
   margin-left: 44vw;
   margin-top: 25vh;
}

.homeTitle{
  padding-top: 50vh;
  color: white;
  padding-right: 10px;
}
